* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.box-add-person {
  width: 45%; 
}

.line {
  width: 2px;

  background: rgba(0, 0, 0, 0.2);
}

/* ----------------
     START HEADER
------------------ */
.header-person {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.type-person {
  width: 80%;
}

.btn-add {
  flex: 1;
  margin-left: 1rem;
}

/* ----------------
     START LIST
------------------ */
.person-list {
  padding: 2rem 0;
}

.person-item {
  width: 80%;
  padding: 1rem 0;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person-name {
  width: 80%;
  overflow-wrap: break-word;
}

.remove-item {
  width: 20px;
}

/* ----------------
    START RESULT
------------------ */
.box-result {
  width: 45%;
}

.item-register {
  width: 100%;

  display: flex;
  justify-content: space-between;
}